services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    # command: bash -c "alembic upgrade head; uvicorn apps.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app/
    ports:
      - "127.0.0.1:8080:8080"
